@import "bootstrap/scss/bootstrap-utilities";

//Generate utilites for Cursor
//reference: https://5balloons.info/cursor-pointer-and-other-classes-for-bootstrap-5
$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      values: auto default pointer wait text move help not-allowed
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "height": map-merge(
      map-get($utilities, "height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "height"), "values"),
          (10: 10%),
        ),
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "min-viewport-height": map-merge(
      map-get($utilities, "min-viewport-height"),
      (
        values: map-merge(
          map-get(map-get($utilities, "min-viewport-height"), "values"),
          (50: 50vh),
        ),
      ),
    ),
  )
);

@import 'bootstrap/scss/bootstrap';

// Your custom styles
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }